.header-container {
  position: absolute;
  display: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 6.5rem;
}

.information-container {
  margin: auto;
  max-width: 1260px;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  padding: 1rem 1rem 1rem 0.5rem;
  border-radius: 0.5rem;
}

.profile:hover {
  background: rgba(0, 0, 0, 0.1);
}

.profile:hover svg {
  display: block;
}

.profile > p {
  margin-left: 1.6rem;
}

.image {
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  border-radius: 50%;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.default-image {
  position: relative;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.user-icon {
  position: absolute;
  top: 50%;
  right: 50%;

  transform: translate(50%, -50%);

  width: 2.6rem;
  height: 2.6rem;
}

.options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 15px;
}

.options div {
  cursor: pointer;
  position: relative;

  height: 3.6rem;
  width: 3.6rem;
  border-radius: 0.5rem;

  background: rgba(0, 0, 0, 0.15);

  transition: background 300ms ease;
}

.options div img {
  width: 2.7rem;
  margin: 3px;
}

.options div:hover {
  background: rgba(0, 0, 0, 0.3);
}

.logout-icon {
  position: absolute;
  top: 50%;
  right: 50%;

  transform: translate(50%, -50%);

  width: 2rem;
  height: 2rem;
}

.logged-as
{
  display: flex;
  margin-left: 10px;
}
