#page-content {
    display: grid;
    grid-template-rows: 40vh 1fr;
    width: 100vw;
    height: 100vh;
    color: var(--color-text-in-primary);
    background: var(--color-primary);
  }
  
@media (min-width: 900px) {
    #page-content {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr !important;
        grid-template-columns: repeat(2, 1fr);
    }

    #page-content.page-content-right {
    grid-template-areas: 'top bottom';
    }

    #page-content.page-content-left {
    grid-template-areas: 'bottom top';
    }

    #page-content > div:nth-child(1) {
    grid-area: top;
    }

    #page-content > div:nth-child(2) {
    grid-area: bottom;
    }
}
