.login-container {
    width: 100%;
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.login-container form{
    width: 80%;
}

.login-container form fieldset{
    border: 0;
}

.login-container form fieldset legend{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.login-container form fieldset legend p{
    color: var(--color-text-title);
    font: 700 2.2rem Poppins;
}

.login-container form fieldset legend a{
    text-align: right;
    color: var(--color-primary-light);
    font: 400 1.2rem Poppins;
}




 .form-password {
    margin: 1.5em 0 3rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-text-complement);
    font-size: 1.3rem;
  }
  
 .form-password a {
    cursor: pointer;
    color: var(--color-text-complement);
    transition: color 0.2s;
    text-decoration: none;
  }
  
 .form-password a:hover {
    color: var(--color-text-base);
  }
  
 .form-password label {
    cursor: pointer;
    position: relative;
    padding-left: 2.3rem;
    display: flex;
    justify-content: center;
  }
  
  .form-password label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .form-password label span {
    display: block;
    position: absolute;
    top: 0.1rem;
    left: 0;
    width: 1.8rem;
    height: 1.8rem;
    background: var(--color-box-footer);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.5rem;
  }
  
  .form-password label input + span {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: var(--color-text-complement);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .form-password label input:hover + span {
 
    background: var(--color-text-base);
  }
  
  .form-password label input:checked + span {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    transition: all 0;
  }
  
  .form-password label input:checked + span:after {
    display: block;
    content: '';
    position: absolute;
    left: calc(50% - 0.4rem + 1px);
    top: calc(50% - 0.8rem + 1px);
    width: 0.4rem;
    height: 0.8rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }



.login-tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.4rem 0;
    width: 100%;
}

.login-tools a{
    text-decoration: none;
    font: 400 1.2rem Poppins;
    color: var(--color-text-complement);
}

.login-tools div input{
    margin-right: 0.8rem;
}

.login-submit,
.login-submit-active {
    flex: 1;
    display: flex;
    width: 100%;
    padding: 1.6rem 0;
    justify-content: center;
    align-items: center;
    background: var(--color-line-in-white);
    color: var(--color-text-complement);
    border: 0;
    outline: 0;
    transition: 0.2s;
    border-radius: 0.8rem;
    cursor: not-allowed;
}

.login-submit-active {
    background: var(--color-secondary);
    color: var(--color-button-text);
    cursor: pointer;
}

.login-submit-active:hover {
    background: var(--color-secondary-dark);
    color: var(--color-button-text);
}

.login-footer{
    display: none;
}

.login-footer .signup{
    font-family: Poppins;
    font-size: 1.4rem;
}

.login-footer .signup p{
    color: var(--color-text-complement);
    font-weight: 400;
}

.login-footer .signup a{
    color: var(--color-primary-dark);
    font-weight: 700;
}

.login-footer span{
    font: 400 1.4rem Poppins;
    color: var(--color-text-complement);
}

@media (min-width: 900px) {

    .login-container form fieldset legend a {
        display: none;
    }

    .login-footer {
        margin-top: 8rem;
        display: flex !important;
        justify-content: space-between;
        width: 100%;
    }

}








